In [1]:
import os
import pandas as pd

In [4]:
raw_data_path = "purchase_data.json"

raw_data = pd.read_json(raw_data_path)

In [5]:
raw_data_df = pd.DataFrame(raw_data)

In [6]:
raw_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [7]:
raw_data_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64